<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
<meta charset="UTF-8">
<title>Login</title>

<!-- BOOTSTRAP CSS -->
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
<link href="/css/login-form" rel="stylesheet">
<style>
body {
	background-color: #f8f9fa;
}

.login-form {
	max-width: 400px;
	margin: 0 auto;
	padding: 20px;
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	margin-top: 100px;
}
</style>
</head>