<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{components/head::head}">
</head>

<body>

<!-- HEADER -->
<header th:replace="~{components/header::header}">
</header>

<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Edit Comment</h5>
                    <form th:action="@{/comment/update}" method="post">
                        <input type="hidden" name="commentId" th:value="${comment.id}">
                        <div class="form-group">
                            <label class="mb-1" for="content">Comment:</label>
                            <textarea class="form-control" id="content" name="content" rows="3" placeholder="Enter your comment" th:text="${comment.content}"></textarea>
                        </div>
                        <div class="text-right mt-3">
                            <button type="submit" class="btn btn-secondary">Update</button>
                            <a th:href="@{/comment/cancel/{id} (id=${comment.id}) }" class="btn btn-danger">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- BOOTSTRAP JS -->
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>