<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{components/head::head}">
</head>

<body>
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-6">
				<div class="login-form">
					<h2 class="text-center mb-4">Login</h2>
					
					<div th:if="${param.error}" >
					<div  th:replace="~{components/alert::error}">
					</div>
					</div>
					
					<div th:if="${success}" > 
					<div th:replace="~{components/alert::success}">
					</div>
					</div>
					
					<div th:if="${logout}"> 
					<div th:replace="~{components/alert::logout}">
					</div>
					</div>

					<form th:action="@{/login}" method="post">
						<div class="mb-3">
							<label for="username" class="form-label">Username</label> <input
								type="text" class="form-control" id="username" name="username"
								required autocomplete="off">
						</div>
						<div class="mb-3">
							<label for="password" class="form-label">Password</label> <input
								type="password" class="form-control" id="password"
								name="password" required autocomplete="off">
						</div>
						<div class="text-center mb-3">
							<button type="submit" class="btn btn-dark">Login</button>
						</div>
						<p class="text-center">
							Don't have an account? <a th:href="@{/record}">Register</a>
						</p>
					</form>
				</div>
			</div>
		</div>
	</div>

	<!-- BOOTSTRAP JS -->
	<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>