<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{components/head::head}">
</head>

<body class="bg-light">
	<div class="container">
		<div class="row justify-content-center mt-5">
			<div class="col-md-5">
				<div class="card">
					<div class="card-header bg-dark text-white mb-3">
						<h3 class="text-center">Registration</h3>
					</div>

					<div class="card-body">
						<form th:action="@{/register}" method="post">
							<div class="mb-3">
								<label for="name" class="form-label">Name</label> <input
									type="text" class="form-control" id="name" name="name" required
									autocomplete="off">
							</div>
							<div class="mb-3">
								<label for="email" class="form-label">Email</label> <input
									type="email" class="form-control" id="email" name="email"
									required autocomplete="off">
							</div>
							<div class="mb-3">
								<label for="username" class="form-label">Username</label> <input
									type="text" class="form-control" id="username" name="username"
									required autocomplete="off">
							</div>
							<div class="mb-3">
								<label for="password" class="form-label">Password</label> <input
									type="password" class="form-control" id="password"
									name="password" required autocomplete="off">
							</div>
							<div class="text-center">
								<a th:href="@{/login}" class="btn btn-danger">Cancel</a>
								<button type="submit" class="btn btn-dark">Register</button>
							</div>
							<br>
							<p class="text-center mb-3">
								have an account already? <a th:href="@{/}">Login</a>
							</p>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row justify-content-center mt-5">
			<div class="col-md-5">
			<div th:if="${success}">
				<div th:replace="~{components/alert::success}">
				</div>
			</div>
			</div>
		</div>
	</div>

	<!-- BOOTSTRAP JS -->
	<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>